body {
    margin: 0;
    padding-top: 800px;
}
  
.profile {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 0%;
}

#welcome {
    position: absolute;
    color: #FFFFFF;
    bottom: 0;
    background: #c41c2d;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
    font-family: sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 70px;
    font-family: sans-serif;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    font-family: monospace;
}

#bio {
    font-family: 'Cinzel Decorative', cursive;
    padding: 50px;
    text-align: center;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

p {
    font-size: 17px;
}

.parallax-inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.menu {
    position: fixed;
    background: white;
    width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
}

.links {
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px
}

.links:hover {
    font-size: 25px;
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: crimson;
    text-shadow: 2px 2px gainsboro;
}

.article:hover {
    color: fuchsia;
}

#writings a {
    text-shadow: none !important;
    text-decoration: underline !important;
    color: blue !important;
}

#contact {
    background: firebrick;
}

#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    color: white;
    text-shadow: none;
}

.my_nav_bar {
    position: sticky;
    top: 0;
    z-index: 99999;
}

input {
    background: grey;
}
  
 #para-left {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #c41c2d;
    text-align: center;
 }

 #para-right {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

  #target{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: left;
  }

  .header23 {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
  }
  
  .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
  }
  
  .progress-bar {
    height: 8px;
    background: #04AA6D;
    width: 0%;
  }

  .fade-in-text {
    font-family: Arial;
    font-size: 150px;
    animation: fadeIn 15s;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .topnav {
    background-color: #333;
    overflow: hidden;
    top: 0;
    position: sticky;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }